@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* karla 400, 700 */

/* For heading */
/*   font-family: "DM Serif Display", serif; */

:root {
  --violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h1, h2{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
/* Utility Classes */
.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.btn-primary {
  display: inline-block;
  padding: 8px 24px;
  font-size: 14px;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
}

.line {
  width: 140px;
  height: 1px;
  background-color: var(--light-gray);
}

/* Navbar Start */

#navbar {
  background-color: var(--light-gray); 
}

#navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
  height: 80px;
}
#navbar nav .logo, #footer .logo {
  font-family: "DM Serif Display", serif; 
  font-weight: 400;
  font-size: 30px;
  color: var(--dark-violet);
  letter-spacing: 1.2px;
}

#navbar nav ul {
  display: flex;

  justify-content: center;
  align-items: center;
}
#navbar nav ul li a {
  margin-left: 20px;
  color: var(--dark-grayish-violet);
  font-weight: 600;
  font-size: 16px;
  
}

#navbar nav ul li:last-child a{
  padding: 8px 20px;
  border: 1px solid var(--dark-violet);
  color: var(--dark-violet);
}
/* Navbar End */

/* Home Start */
#home {
  height: 70vh;
  background-color: var(--violet);
  position: relative;
}


#home::before  {
  content: "";
  position: absolute;
  top: 22rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/bg-pattern-intro-left-desktop.svg") no-repeat ;
}

#home::after  {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  /* for test */
  /* background-color: red; */
  background: url("./images/bg-pattern-intro-right-desktop.svg") no-repeat ;
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6rem;
  gap: 3rem;
  color: #fff;
}

#home .home-content h1 {
  font-size: 75px;
  margin-top: 3rem;
  line-height: 1;
  font-weight: 400;
}

#home .home-content p {
  line-height: 1.5;
  margin: 20px 0;
  color: var(--light-gray);
}

/* Home End */
/** How We Work Start */
#how-we-work {
  margin-top: 15rem;
}

#how-we-work h2 {
  font-size: 65px;
  font-weight: 400;
  margin-top: 15px;
  color: var(--violet);
}

#how-we-work .line {
  background-color: var(--dark-grayish-violet);
}

#how-we-work .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 3rem 0;
}

#how-we-work .row .item h3 {
  margin: 15px 0;
  font-size: 28px;
  font-weight: 400;
}


/** How We Work End */
/** Card Start */
#card {
  margin: 4rem 0;
}

#card .row {
  position: relative;
}

#card .row {
  padding: 3rem 4rem;
  background-color: var(--violet);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  z-index: 0;
  position: relative;
}

#card .row::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: url("./images/bg-pattern-intro-right-desktop.svg") no-repeat ;
  z-index: -1;
}

#card .row h2 {
  width: 60%;
  font-size: 45px;
}
/** Card End */
/** Footer Start */
#footer {
  background-color: var(--light-gray);
  padding: 3rem 0;
  position: relative;
  z-index: 0;
}

#footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/bg-pattern-footer-desktop.svg") no-repeat;
  z-index: -1;
}

#footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-grayish-violet);
  padding-bottom: 20px;
}

#footer .footer-header ul {
  display: flex;
}

#footer .footer-header ul li {
  margin: 0 8px;
}

#footer .footer-row {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#footer .footer-row .col h3 {
  font-size: 18px;
  color: var(--dark-grayish-violet);
  padding-bottom:1rem ;
}

#footer .footer-row .col ul li {
  margin: 15px 0;
  font-weight: 600;
  color: var(--dark-violet);
}
/** Footer End */