@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* karla 400, 700 */

/* For heading */
/*   font-family: "DM Serif Display", serif; */

:root {
  --violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", serif;
}